<div class="container ausgabe_section">
    <div class="row">
        <div class="col-md-12">
            <h1>Es wurden folgende Stunden für Mitarbeiter {{ mitarbeiter}} notiert:</h1>
            <p>Übersicht über ihre eingetragenen Zeiten:</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Kunde</th>
                        <th>Datum</th>
                        <th>Stunden</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ kunde }}</td>
                        <td>{{ datum }}</td>
                        <td>{{ stunden }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>