<div class="user_selctor">
    <section class="section nav-spacer">
        <div class="container">
            <div class="columns">
                <div class="column is-7">
                    <h1 class="title is-2 has-text-weight-bold">Kunde bearbeiten</h1>

                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Kunde: {{data.0.firmenname}}
                            </p>
                            <a href="#" class="card-header-icon" aria-label="more options">
                                <span class="icon">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </a>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <div class="input_user_fields">
                                    <h1>Kundendaten aktualisieren</h1>
                                    <form action="/update_kunde/{{data.0.id}}" method="post">

                                        <div class="field">
                                            <label class="label">Kundenname</label>
                                            <div class="control">
                                                <input class="input" type="text" name="kundenname"
                                                    value="{{data.0.firmenname}}" required>
                                            </div>
                                        </div>

                                        <div class="field">
                                            <label class="label">Stundensatz</label>
                                            <div class="control">
                                                <input class="input" type="number" name="stundensatz"
                                                    value="{{data.0.stundensatz}}" required>
                                            </div>
                                        </div>

                                        <div class="field">
                                            <label class="label">Rechnung</label>
                                            <div class="control">
                                                <div class="select">
                                                    <select name="rechnung">
                                                        <option selected value="1">nach jedem Auftrag</option value="1">
                                                        <option value="2">alle 3 Monate</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <button class="btn button" type="submit">Aktualisieren</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-5">
                    <br><br><br>
                    <article class="message is-link">
                        <div class="message-header">
                            <p>Wichtiger Hinweis zur Bearbeitung von Kunden</p>
                            <button class="delete" aria-label="delete"></button>
                        </div>
                        <div class="message-body">
                            Lorem ipsum dolor sit amet, consectetur adidpiscing elit. <strong>Pellentesque risus
                                mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet
                            fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac
                            <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor,
                            tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem
                            eget, facilisis sodales sem.
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</div>